---
import Logo from "@/components/features/brand/labeledLogo.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'div'> {
}

const {
  ...divProps
} = Astro.props;
---

<header class="sticky top-0 z-40 border-b border-border/60 bg-background/80 backdrop-blur-md">
  <div class="mx-auto flex flex-row gap-4 h-16 w-container px-container items-center justify-between">
    <a href="/">
      <Logo />
    </a>
    <div class="flex flex-1 flex-row gap-4" { ...divProps }>
      <slot />
    </div>
  </div>
</header>
