---
import Header from "@/components/common/header.astro";
import Layout from "@/layouts/main.astro";
import Greetings from "@/components/features/dashboard/greetings.astro";
import Projects from "@/components/features/dashboard/projects.astro";

const prerender = false;
---

<Layout>
  <Header>
    <nav class="flex flex-1 flex-row gap-2 items-center text-center justify-center">
    </nav>
  </Header>
  <main class="py-8">
    <Greetings />
    <Projects />
  </main>
</Layout>
