---
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { Badge } from "@/components/ui/badge";
import { Plus } from "@lucide/astro";

type ProjectStatus = "working"|"paused"|"finished"|"failed";

interface Project {
  title: string,
  description: string,
  status: ProjectStatus,
  branch: string,
  files: number,
  wakaHours: number
}

const projects: Project[] = [
];
---

<section class="container flex-col gap-2 mt-10">
  <div class="flex flex-row items-center justify-between gap-5">
    <div class="flex flex-row items-center gap-2">
      <h1 class="font-bold">Your projects</h1>
      <Badge variant="outline">3</Badge>
    </div>
    <Separator className="flex-1 mx-3 hidden sm:block" />
    <Button variant="outline">
      <Plus />
      <span>New project</span>
    </Button>
  </div>
</section>
