---
import Header from "@/components/common/header.astro";
import CTA from "@/components/features/promo/cta.astro";
import Hero from "@/components/features/promo/hero.astro";
import HowItWorks from "@/components/features/promo/howItWorks.astro";
import Layout from "@/layouts/main.astro"
---

<Layout>
  <Header>
    <a href="/">Main page</a>
  </Header>
  <Hero />
  <HowItWorks />
  <CTA />
</Layout>
